@model MemeRSity.ViewModel.ArticlesCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Articles" asp-action="Create">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="text" name="title" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="image"  id="image" multiple>
                </div>
            </div>
            <div class="form-group">
                                  <div class="col-md-10">
                                      <input type="submit" id="submitBtn" value="Upload">
                                  </div>
                              </div>
            <div class="form-group"><div id="tags"></div>
            <div id="categories"></div>
                                                                <div class="col-md-10">
                                                                    <input type="text" id ="tagInput" value="Upload">
                                                                </div>
                                                            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>  
 function RemoveFromArray(e){
     document.getElementById("tags").removeChild(e.target);
 }
 document.addEventListener("DOMContentLoaded", GetCategories);
 function GetCategories() {
                  var ajaxUrl = "/all";
                   $.ajax({
                   type: "GET",
                   url: ajaxUrl, 
                   contentType: false, 
                   processData: false,
                       success: function (data) {
                       var selectElement = document.createElement("select");
                       selectElement.setAttribute("name","categories");
                        for(var i =0; i<data.length; i++){
                            var optionElement = document.createElement("option");
                            optionElement.setAttribute("value",data[i].name);
                            optionElement.innerText = data[i].name;
                            optionElement.setAttribute("id",data[i].id);
                            selectElement.appendChild(optionElement);
                        }
                       
                         document.getElementById("categories").appendChild(selectElement);
                         
                   },
                       error: function (err) {
                           console.log(err);
                   }
               });
 };
document.getElementById("tagInput").addEventListener("keypress", function (e) {
    var tag = $(this).val();
    if(tag[tag.length-1]==","){
        var tagElement = document.createElement("div");
        tagElement.addEventListener("click",RemoveFromArray);
         var tagValue =tag.slice(0,tag.length-1);
         tagElement.textContent = tagValue;
        document.getElementById("tags").append(tagElement); 
        $(this).val("");
    }
    });

        document.getElementById("submitBtn").addEventListener("click", function (e) {
            e.preventDefault();
            var divs = document.getElementById("tags").getElementsByTagName("div");
            var tags = []; 
            for(var i =0; i<divs.length;i++){
                tags.push(divs[i].innerText);
            } 
            var fileReader = new FileReader();
            var ajaxUrl = "/articles/create";
            var image = document.getElementById("image").files[0];
            var formData = new FormData();
            formData.append("image", image);
            var title = document.getElementsByName("title")[0].value;
            console.log(title);
            formData.append("title", title);
            var selectElement = document.getElementsByTagName("select")[0];
            var IndexSelectElement = selectElement.selectedIndex;
            var categoryValue = selectElement.options[IndexSelectElement].value;
            var categoryId = selectElement.options[IndexSelectElement].getAttribute("id");
            var category = {
                id:categoryId,
                value:categoryValue,
                articles:null
            }; 
            console.log(category);  
            for(var i=0;i<tags.length;i++){   
            formData.append("Tags["+i+"].Name", tags[i]);
            } 
             
            formData.append("category.Name",category.value);
            fileReader.readAsDataURL(image);
            
            fileReader.onload = function(){
                $.ajax({
                type: "POST",
                url: ajaxUrl,
                data: formData, 
                contentType: false, 
                processData: false,
                    success: function (data) {
                        console.log(data);
                },
                    error: function (err) {
                        console.log(err);
                }
            });
            };
            }); 
    </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
