@model MemeRSity.ViewModel.ArticlesCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Articles" asp-action="Create">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="text" name="title" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="image"  id="image" multiple>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" id="submitBtn" value="Upload">
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script> 
        document.getElementById("submitBtn").addEventListener("click", function (e) {
            e.preventDefault();
            var fileReader = new FileReader();
            var ajaxUrl = "/articles/create";
            var image = document.getElementById("image").files[0];
            var formData = new FormData();
            formData.append("image", image);
            var title = document.getElementsByName("title")[0].value;
            console.log(title);
            formData.append("title", title);
            fileReader.readAsDataURL(image);
            fileReader.onload = function(){
                $.ajax({
                type: "POST",
                url: ajaxUrl,
                data: formData,
                cache: false,
                contentType: false,
                method:"POST",
                processData: false,
                    success: function (data) {
                        console.log(data);
                },
                    error: function (err) {
                        console.log(err);
                }
            });
            };
            }); 
    </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
